<div>
    <mat-toolbar color="primary" style="display: flex;
    align-items: center;">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="margin-left: 10px;display: flex;
            align-items: center;display: flex;
    align-items: center;" (click)="gotoHome()">
            <mat-icon>home</mat-icon>Home
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            style="margin-left: 30px;">
            <mat-icon>insert_drive_file</mat-icon>File
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            style="margin-left: 30px;">
            <mat-icon>save</mat-icon>Save
        </button>
        <div>
            <button mat-button [matMenuTriggerFor]="menu" style="margin-left: 30px;">Sequencer</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="navigateToGantt()">Forward</button>
                <button mat-menu-item>Backward</button>
            </mat-menu>
        </div>
        <!-- <span style="margin-left: 30px;">sequencing</span> -->
    </mat-toolbar>
</div>
<!-- <div>
    <router-outlet></router-outlet> 
    <app-data-maintenance></app-data-maintenance>
</div> -->