<app-toolbar></app-toolbar>
<div class="container-fluid ">
    <div class="row">
        <div class="col-3 ">
            <app-sidenav></app-sidenav>

        </div>
        <div class="col-9 p-0">
            <!-- <mat-card style="width:60%;height: 85%;display: flex;justify-content:center;"> -->
            <!-- <mat-card-content>  -->
            <div id="ganttchart">
            </div>

            <!-- </mat-card-content> -->
            <!-- </mat-card> -->

        </div>
    </div>
</div>

<!-- <div class="container" align="center">
    <mat-card style="width:60%;height: 85%;display: flex;justify-content:center;">
        <mat-card-content>
            <div id="ganttchart">
            </div>

        </mat-card-content>
    </mat-card>



</div> -->