.orderscard,.machinescard{
width:100%;
height:100vh;
box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
// .machinescard{
//     width:100%;
//     height:100vh; 
// }