<div>
    <!-- <div class="row ms-2">
        <div class="col-2"> -->
    <!-- <mat-card class="orderscard">
                <mat-card-content> -->
    <div class="row ">
        <div class="col-6 p-0">
            <div class="orderscard ps-2">
                <h4 class="">Orders</h4>
                <div *ngFor="let order of orders">
                    <p>{{order}}</p>
                </div>
            </div>
        </div>
        <div class="col-6 p-0 ">
            <div class="machinescard ps-2">
                <h4>Machines</h4>
                <div *ngFor="let machine of machines">
                    <p>{{machine}}</p>
                </div>
            </div>
        </div>
    </div>


    <!-- </mat-card-content>
            </mat-card> -->

    <!-- </div> -->
    <!-- <div class="col-1"> -->
    <!-- <mat-card class="machinescard">
                <mat-card-content> -->
    <!-- </mat-card-content>
            </mat-card> -->
    <!-- </div> -->
    <!-- </div> -->
</div>