<div>
    <mat-drawer-container class="example-container">
        <mat-drawer mode="side" opened
            style="padding-top:10px;background-color: #3f51b5;color:white;width:10%;padding-left: 10px;">
            <div class="sideitems">
                <mat-icon style="margin-right:10px">language</mat-icon>General
            </div>


            <div class="sideitems" style="margin-top:10px;">
                <mat-icon style="margin-right:10px">share</mat-icon>Data Transfer Menu
            </div>
        </mat-drawer>
        <mat-drawer-content style="margin-top: 10px;width:90%">
            <div style="display: flex;flex-direction: row;margin-left: 10px;">
                <!-- <div class="col-6"> -->
                <mat-card style="width:48%;margin-right: 10px;display:flex;align-items: center;"
                    (click)="gotoGanttWithOutData()"> <img src="/assets/images/fileicon.PNG">Generate
                    Schedule</mat-card>
                <!-- </div> -->
                <!-- <div class="col-6"> -->
                <mat-card style="width:48%;margin-right: 10px;display:flex;align-items: center;"
                    (click)="input.click()"><input type="file" #input accept=".csv" (change)="handleFileSelect($event)"
                        style="display:none">
                    <img src="/assets/images/import.PNG">Import Orders
                </mat-card>
                <!-- </div> -->
            </div>
            <div style="margin-left: 10px; margin-top: 10px;">
                <mat-card style="width:47%;display:flex;align-items: center;"> <img
                        src="/assets/images/import.PNG">Release Schedule</mat-card>

            </div>
            <ng-template #showDialog>
                <div>
                    <mat-icon mat-dialog-close style="float: right;
                    position: relative;
                    top: -0.8em;
                    right: -0.8em">close</mat-icon>

                </div>
                <h2 mat-dialog-title>Data Import
                </h2>
                <mat-dialog-content class="mat-typography">
                    <p>All data available imported</p>
                </mat-dialog-content>
                <mat-dialog-actions align="end">
                    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
                </mat-dialog-actions>
            </ng-template>
        </mat-drawer-content>
    </mat-drawer-container>

</div>