.example-container {
    width: 100%;
    height: 100vh;
    border: 1px solid #555;
  }
  mat-card{
    border: steelblue 1px solid;
  }
  .sideitems{
    display: flex;
 align-items: center;
  }
  img{
    margin-right: 10px;
  }